@import "./variables";

.App{
    background-color: $background;
    text-align: center;
    padding-bottom: 50px;
}
p, h1, h2, h4{
    color: $text;
}

a{
    color: $link
}


h4{
    padding-top: 50px;
}

*{
    margin: 0;
    padding: 0;
    background-color: rgb(35, 42, 45);
}