@import "./variables";

.App{
    background-color: $background;
    text-align: center;
}
p, h1, h2{
    color: $text;
}

h1{
    padding-bottom: 50px;
}

*{
    margin: 0;
    padding: 0;
    background-color: rgb(35, 42, 45);
}